<h2 class="text-primary">Registro</h2>
<form action="/api/registro/register" method="post">
    <div class="mb-3">
        <label class="form-label fw-bold" for="title">Email</label>
        <input class="form-control" type="text" name="email">
        <label class="form-label fw-bold" for="title">Contraseña</label>
        <input class="form-control" type="password" name="password">
        <label class="form-label fw-bold" for="title">Nombre</label>
        <input class="form-control" type="text" name="name">
        <label class="form-label fw-bold" for="title">Direccion</label>
        <input class="form-control" type="text" name="address">
        <label class="form-label fw-bold" for="title">Edad</label>
        <input class="form-control" type="number" name="age">
        <label class="form-label fw-bold" for="title">Celular</label>
        <input class="form-control" type="number" name="cellphone">
        <label class="form-label fw-bold" for="title">Avatar</label>
        <input class="form-control" type="text" name="avatar">
    </div>
    <div class="w-100 d-flex justify-content-around">
        <div class="">
            <input class="btn btn-success" type="submit" value="Enviar">
        </div>
    </div>
</form>